.active .custom-select {
    padding-left: 0;
    background-color: rgba(0,0,0,0.06) !important;
    pointer-events: auto;
    background: auto;
    // appearance: auto;
    padding-left: 0.7rem;
    background: #fff url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%274%27 height=%275%27 viewBox=%270 0 4 5%27%3e%3cpath fill=%27%23343a40%27 d=%27M2 0L0 2h4zm0 5L0 3h4z%27/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat;
}
.active .form-control {
    padding-left: 0 !important;
    background-color: rgba(0,0,0,0.06) !important;
    pointer-events: auto;
    padding: 1.3rem 0.7rem !important;
}

.edit-compo .custom-select {
    background-color: white !important;
    pointer-events: none;
    padding-left: 0;
    background: none;
}

.edit-compo .form-control {
    background-color: white !important;
    pointer-events: none;
    padding-left: 0;
}

@media screen and (max-width: 575.98px) {
    .active .custom-select {
        padding-right: 1.5rem;
    }
    .active .form-control {
        padding: 1.3rem 0.7rem 0.7 0rem;
    }
    .edit-compo .custom-select{
        padding-right: 0;
        background-color: transparent !important;
    }
    .edit-compo .form-control {
        padding-right: 0;
        background-color: transparent !important;
    }
    .edit-compo {
        border-radius: 1rem;
        border: 1px solid rgba(0,0,0,0.1);
        margin-bottom: 0.7rem;
        .td{
            background-color: #fff;
        }
    }
 }